---
import { PileGridDemo } from "./PileGrid.jsx";
---
  <section
    id="pile"
    class="sticky top-22 z-10 w-full overflow-hidden backdrop-blur-xs border-2 border-muted rounded-t-4xl max-w-30/31 mx-auto"
  >
    <h1 class="text-4xl pt-7 -mb-12 font-bold text-center">The Pile</h1>
    <PileGridDemo client:load />
  </section>
</div>
