<div class="relative min-h-1000">
  <section
    id="pile"
    class="sticky top-22 z-10 h-screen w-full overflow-hidden backdrop-blur-xs border-2 border-muted rounded-t-4xl max-w-30/31 mx-auto"
  >
    <div class="absolute inset-0 flex items-center justify-center">
      <h1 class="text-4xl font-bold text-gray-800 dark:text-gray-200">
        Pile Component
      </h1>
    </div>
  </section>
</div>
